:root{
  --color-editor: #f14747;
  --color-grey: #6b6365;
  --color-dark: #241616;
  --color-light: #f7f5f2;
  --font-primary: PP Nikkei Journal, ui-serif, Georgia, serif;
  --h1-size-min: 3rem;
  --h1-size-max: 12.5rem;
  --h1-leading: 0.77;
  --h1-tracking: -0.01em;
  --h1-weight: 800;
  --pb-size-min: 1.25rem;
  --pb-size-max: 4.167rem;
  --pb-leading: 1.06;
  --pb-tracking: -0.01em;
  --pb-weight: 800;
  --h3-size-min: 1.25rem;
  --h3-size-max: 4.167rem;
  --h3-leading: 1.06;
  --h3-tracking: -0.01em;
  --h3-weight: 800;
  --h4-size-min: 0.875rem;
  --h4-size-max: 1.25rem;
  --h4-leading: 1.27;
  --h4-tracking: -0.01em;
  --h4-weight: 400;
  --btn-size-min: 1rem;
  --btn-size-max: 4.167rem;
  --btn-leading: 1;
  --btn-tracking: -0.01em;
  --btn-weight: 800;
  --p-size-min: 1rem;
  --p-size-max: 3.333rem;
  --p-leading: 1.5;
  --p-tracking: -0.01em;
  --p-weight: 800;
}